<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
     <title>BookShare</title>
     <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <i><h1 class="title">BookShare</h1></i>
        <div class="navLinks">
          <b><a href="#">Sign-Out</a></b>
          <b><a href="#">Convo Select</a></b>
          <a href="#"></a>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="column left-column">
        <u><h2 class="question">My Conversations</h2></u>
        <button class="add-conversation-button">Add a Convo</button>
        <p>Sign-Out option defaults to Sign-In page</p>
        <p>Conversation Select directs to home page with latest posted conversations where a conversation can be selected and a box opens to enter and post a comment</p>
        <p>Created convos are listed here. They can be edited or deleted</p>
      </div>
      <div class="column right-column">
        <!-- Add content for the right column here -->
        <h2>Library API to find a book</h2>
        <p></p>
      </div>
    </div>
  </main> 
</body>

</html>

