<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
     <title>BookShare</title>
     <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <i><h1 class="title">BookShare</h1></i>
        <div class="navLinks">
          <b><a href="#">Sign-In</a>
          <a href="#">Sign-Up</a></b>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
        <div class="column left-column">
            <h2 class="question">You love reading...right!?</h2>
            <p class="question"><i>Come join the crowd!</i></p>
            <ul>
                <h3><li>-- Find books you would love to read --</li>
                <li>-- Have great conversations about books you are reading --</li>
                <li>-- See what others think about the same books you are reading --</li>
                <li>-- Talk about what authors may be trying to say in the books they have written --</li></ul></h3>
            </ul>
        </div>
    </div>
  </main>

  <footer class="flex-row justify-center">
  2023: Project-2 Team
  </footer>
  
</body>

</html>

