<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap"
      rel="stylesheet"
    />
    <title>BookShare</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">
          <i><h1 class="title">BookShare</h1></i>
          <div class="navLinks">
            <b
              ><a href="../signin.html">Sign-IN</a>
              <a href="../signup.html">Sign-UP</a>
              <a href="../signout.html">Sign-OUT</a></b
            >
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="column left-column">
          <p class="question"><b>You love reading...right!?</b></p>
          <h2><i>Come join the crowd!</i></h2>
          <ul>
            <h4>
              <li>-- Find books you would love to read --</li>
              <li>
                -- Have great conversations about books you are reading --
              </li>
              <li>
                -- See what others think about the same books you are reading --
              </li>
              <li>
                -- Discuss what authors are saying in books they've written --
              </li>
            </h4>
          </ul>
        </div>
        <div class="column right-column">
          <p class="question"><b>Current Convos</b></p>
          <h6>(Sign-IN or -UP to participate in a convo)</h6>
          <p>Latest posts appear at the top</p>
          <p>A post can be selected</p>
          <p>A comment can be added and saved to a selected post</p>
        </div>
      </div>
    </main>

    <footer class="flex-row justify-center">2023: Project-2 Team</footer>
  </body>
  <script src="/js/signout.js"></script>
  <script src="/js/signin.js"></script>
  <script src="/js/signup.js"></script>
</html>
