<head>
  <title>BookShare</title>
  <link rel="stylesheet" type="text/css" href="css/all-comments-style.css">
</head>

<div class="formContainer">
  <h2>Select a Book Convo</h2>
  <form id="newPostForm"></form>
  <div class="container">
    <div class="column"> 
      <div class="posts list-group">
        <ul>
          {{#each posts}}
          <li class="list-item flex-row justify-space-between">
            <a href="/dashboard/edit/{{id}}">
              <span>{{title}}</span>
            </a>
            <span class="alignRight">{{format_date createdAt}}</span>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/js/all-comments.js"></script>
