<!DOCTYPE html>
<html lang="en">

<head>
  <title>BookShare</title>
  <link rel="stylesheet" type="text/css" href="/public/css/all-comments-style.css">
</head>

  <div class="column">
    <div id="bookThoughtsContainer">
      <div id="selectedBookFields" style="display: none;">
        <input type="text" id="selectedBookTitle" readonly><br>
        <label for="attentionGetter">What are your thoughts:</label>
        <textarea id="attentionGetter" name="attentionGetter" required></textarea>
        <input type="submit" value="Add to Convo" class="addToConvoBtn">
      </div>
    </div>
  </div>
</div>


<script src="/js/comment.js"></script>