<!DOCTYPE html>
<html lang="en">

<head>
  <title>BookShare</title>
  <link rel="stylesheet" type="text/css" href="/public/css/comment-style.css">
</head>

<div class="container">
  <div class="column">
    <div class="formContainer">
      <h2>Select a Book</h2>
      <form id="newPostForm">
        <div id="bookList">
          <label for="book1"><input type="radio" id="book1" name="bookTitle" value="Book 1"> Becoming a Perfect Coder</label><br>
          <label for="book2"><input type="radio" id="book2" name="bookTitle" value="Book 2"> Shipping Lanes Around the World</label><br>
          <label for="book3"><input type="radio" id="book3" name="bookTitle" value="Book 3"> Eat it all!</label><br>
        </div>
      </form>
    </div>
  </div>
  <div class="column">
    <div id="bookThoughtsContainer">
      <div id="selectedBookFields" style="display: none;">
        <input type="text" id="selectedBookTitle" readonly><br>
        <label for="attentionGetter">What are your thoughts:</label>
        <textarea id="attentionGetter" name="attentionGetter" required></textarea>

        <input type="submit" value="Add to Convo" class="addToConvoBtn">
      </div>
    </div>
  </div>
</div>


<script src="/js/comment.js"></script>