<body>
<div class="container">
  <div class="column left-column">
    <b>You love to read?</b>
    <h2><i>Come join the crowd!</i></h2>
    <p>-----------------------</p>
    <ul>
      <li>Find books you would love to read</li>
      <li>Have great book convos</li>
      <li>See what others think about books</li>
      <li>Discuss what authors are saying</li>
    </ul>
  </div>
  <div class="column right-column">
    <p class="question"><b>Current Convos</b></p>
    <h6 class="instruction">(Sign-IN or -UP to participate in a convo)</h6>
    <ol class="post-list">
      {{#each posts as |post|}}
        <li>
          {{> post-info post}}
        </li>
      {{/each}}
    </ol>
    <form id="searchForm" action="/search" method="GET">
      <label for="searchQuery">Search for a Book:</label>
      <input type="text" id="searchQuery" name="searchQuery">
      <button type="submit">Search</button>
    </form>
     <div id="searchResults"></div>
  </div>
</div>
  <script src="/javascript/search.js"></script>
<body>
