<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
    <title>BookShare</title>
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
</head>

  <body>
     <nav>
  <div class="navbar">
    <i><h1 class="title">BookShare</h1></i>
    <div class="navLinks">
      <b>
        <a href="/signin">Sign-IN</a>
        {{#unless loggedIn}}
        <a href="/signup">Sign-UP</a>
        {{/unless}}
        {{#if loggedIn}}
        <a href="/signout">Sign-OUT</a>
        {{/if}}
      </b>
    </div>
  </div>
</nav>
</header>


    <div class="container">
      <div class="column left-column">
        <p class="question">
          <b>You love to read?</b>
          <h2><i>Come join the crowd!</i></h2>
        </p>
        <p>-----------------------</p>
        <ul>
            <li>Find books you would love to read</li>
            <li>Have great book convos</li>
            <li>See what others think about books</li>
            <li>Discuss what authors are saying</li>
        </ul>
      </div>
      <div class="column right-column">
        <p class="question"><b>Current Convos</b></p>
        <h6>(Sign-IN or -UP to participate in a convo)</h6>
      </div>
    </div>
      <script src="/js/logout.js"></script>
      <script src="/js/login.js"></script>
</body>

  

</html>

