<div class="form-container">
  <div class="left-column-login">
    <form class="login-form">
      <div>
        <h2>I'm already having convos!</h2>
        <b><label for="email-login">Email:</label></b>
        <input type="text" id="email-login" class="login" />
      </div>
      <div>
        <b><label for="password-login">Password:</label></b>
        <input type="password" id="password-login" class="login" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="right-column-signup">
    <form class="signup-form">
      <div>
        <h2>I'd love to start having convos!</h2>
        <b><label for="username-signup">Username:</label></b>
        <input type="text" id="username-signup" class="login" />
      </div>
      <div>
        <b><label for="email-signup">Email:</label></b>
        <input type="text" id="email-signup" class="login" />
      </div>
      <div>
        <b><label for="password-signup">Password:</label></b>
        <input type="password" id="password-signup" class="login" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>