<head>
  <title>BookShare</title>
  <link rel="stylesheet" type="text/css" href="css/new-post-style.css">
</head>

<div class="formContainer">
  <h2>New Convo</h2>
  <form id="newPostForm">
    <!-- Form fields for Book Title, Attention Getter, etc. -->
    <label for="bookTitle">Book Title</label>
    <input type="text" id="bookTitle" name="book-title" required>
    <br>
    <label for="attentionGetter">Thoughts you would like to share</label>
    <textarea id="attentionGetter" name="post-content" required></textarea>
    <br>
    <input type="submit" value="Start Convo">
  </form>
</div>

<script src="/js/add-post.js"></script>