<head>
    <title>BookShare</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-style.css">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <i><h1 class="title">BookShare</h1></i>
                <div class="navLinks">
                    <b><a href="/home">Home</a></b>
                    <b><a href="/signin">Sign-IN</a></b>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div>
                <h2>I'm already having great conversations!</h2>
                <br>
                <form class="signup-form">
                    <div class="form-row">
                        <b><label for="username">Username:</label></b>
                        <div>
                            <input type="text" id="username" name="username" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <b><label for="password">Password:</label></b>
                        <div>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>
                    <input class="button" type="submit" value="Sign Up">
                </form>
                <br>
            </div>
        </div>
    </main>

    <script src="/js/signup.js"></script>
</body>

