<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
    <title>BookShare</title>
    <link rel="stylesheet" type="text/css" href="/public/css/sign-style.css">
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <i><h1 class="title">BookShare</h1></i>
        <div class="navLinks">
          <b><a href="./layouts/home.html">Home</a></b>
          <b><a href="signin.html">Sign-IN</a>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
            <div>
                <h2>I want to start having great conversations!</h2>
                <br>
                <form>
                    <div class="form-row">
                      <label for="username">Username:</label>
                      <div>
                        <input type="text" id="username" name="username" required>
                      </div>
                    </div>
                    <br>
                    <div class="form-row">
                      <label for="password">Password:</label>
                      <div>
                        <input type="password" id="password" name="password" required>
                      </div>
                    </div>
                    <input class="button" type="submit" value="Sign Up">
                  </form>                  
            </div>
            <br>
    </div>
  </main>
</body>

</html>
