<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet">
    <title>BookShare</title>
    <link rel="stylesheet" type="text/css" href="css/sign-style.css">
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <i><h1 class="title">BookShare</h1></i>
        <div class="navLinks">
          <b><a href="home">Home</a></b>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
            <div>
                <h2>Sad to see you go!</h2>
                <p>Hope you enjoyed your BookShare...see you next time</p>
                <br>
                <p>---------------------------------------</p>             
            </div>
    </div>
  </main>
</body>

</html>
