<head>
      <title>BookShare</title>
      <link rel="stylesheet" type="text/css" href="css/sign-style.css">
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <i><h1 class="title">BookShare</h1></i>
        <div class="navLinks">
          <b><a href="/home">Home</a></b>
          <b><a href="/signup">Sign-UP</a></b>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div>
        <h2>I'm already having great conversations!</h2>
        <br>
        <form class="signin-form">
          <div class="form-row">
          <b><label for="username">Email:</label></b>
            <div>
              <input type="text" id="email-signin" name="email" required>
            </div>
          </div>
          <br>
          <div class="form-row">
          <b><label for="password">Password:</label></b>
            <div>
              <input type="password" id="password-signin" name="password" required>
            </div>
          </div>
          <input class="button" type="submit" value="Sign In">
        </form>    
        <br>
      </div>
    </div>
  </main>

  <script src="/js/signin.js"></script> 
</body>
