<head>
  <title>BookShare</title>
  <link rel="stylesheet" type="text/css" href="../../../public/css/home-style.css">
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <i><h1 class="title">BookShare</h1></i>
        <div class="navLinks">
          <b>
          {{#unless loggedIn}}
          <a href="/signin">Sign-IN</a>
          {{/unless}}
          {{#if loggedIn}}
          <a href="/bookshare">Dashboard</a>
          <a href="/signout">Sign-OUT</a>
          {{/if}}
          </b>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="column left-column">
        <p class="question">
          <b>You love to read?</b>
          <h2><i>Come join the crowd!</i></h2>
        </p>
        <p>-----------------------</p>
        <ul>
          <li>Find books you would love to read</li>
          <li>Have great book convos</li>
          <li>See what others think about books</li>
          <li>Discuss what authors are saying</li>
        </ul>
      </div>
      <div class="column right-column">
        <p class="question"><b>Current Convos</b></p>
        <h6>(Sign-IN or -UP to participate in a convo)</h6>
        <ol class="post-list">
          {{#each posts as |post|}}
            <li>
              {{> post-info post}}
            </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </main>

<footer class="flex-row justify-center">2023: Project-2 Team</footer>

</body>