<head>
    <title>BookShare</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/single-post-style.css">
</head>

<nav>
  <div class="navbar">
    <i><h1 class="title">BookShare</h1></i>
    <b>
    <div class="navLinks">
      {{#unless loggedIn}}
      <a href="/signin">Sign-IN</a>
      {{/unless}}
      {{#if loggedIn}}
      <a href="/bookshare">Dashboard</a>
      <a href="/signout">Sign-OUT</a>
      {{/if}}
    </div>
  </b>
  </div>
</nav>
{{> post-info post}}

{{#if loggedIn}}
<div class="formContainer">
  <h2>Add a Comment</h2>

  <form class="comment-form">
    <div>
      <textarea name="comment-body" class="comment-textarea" placeholder="My comment"></textarea>
    </div>

    <div>
      <input type="submit" value="Add Comment"></input>
    </div>
  </form>

  <break>
  {{/if}}

  {{> comments post.comments}}

  {{#if loggedIn}}
  <script src="/js/comment.js"></script>
  {{/if}}
  </break>

</div>